* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Piazzolla", serif;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sansita Swashed", cursive;
  text-align: center;
}

a {
  color: #00b7ff;
}

.page {
  margin: 0 auto;
  max-width: 800px;
  min-width: 320px;
}

.page header {
  position: relative;
  margin: 30px 0;
  padding-bottom: 30px;
  border-bottom: 1px solid #00b7ff;
}

.page header nav {
  position: absolute;
  right: 0;
  bottom: 30px;
}

.page header nav a {
  font-size: 18px;
}

.page main nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page main nav ul li {
  margin-bottom: 15px;
}

.page main nav ul li a {
  text-decoration: none;
  font-size: 18px;
}

.page main nav ul li a:hover {
  color: #5f0bad;
}

.formulario {
  width: 400px;
}

.formulario-login {
  margin: 40px auto;
}

#tela-login {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}

.formulario fieldset {
  border: 1px solid rgb(138 43 226 / 53%);
  padding: 30px 50px 40px;
  border-radius: 11px;
}

.formulario fieldset legend {
  padding: 0 10px;
  text-align: center;
  font-size: 18px;
  color: #5f0bad;
}

.formulario div {
  margin-bottom: 10px;
}

.formulario div:last-of-type {
  margin-bottom: 0;
}

.formulario div label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
}

.formulario div input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 1px solid gray;
  border-radius: 4px;
}

.formulario div input:focus {
  box-shadow: none;
  outline: none;
  border-color: #5f0bad;
}

.formulario div button {
  width: 100%;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
  border: none;
  background-color: #8a2be2;
  color: white;
  cursor: pointer;
}

.formulario div button:hover {
  background-color: #5f0bad;
}

.formulario div button:focus,
.formulario div button:active {
  box-shadow: none;
  outline: none;
}
