<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap"
            rel="stylesheet"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Piazzolla&display=swap"
            rel="stylesheet"
        >
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        >
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="/css/style.css"
        />
        <title>Eventos</title>
    </head>

    <body>
        <section id="tela-login">
            <h1>Cadastro de Eventos</h1>

            <form
                action="/login"
                method="POST"
                class="formulario formulario-login"
            >
                <fieldset>
                    <legend>Coloque suas credenciais abaixo</legend>
                    <div>
                        <label for="nome">Nome:</label>
                        <input
                            type="text"
                            id="nome"
                            name="usuario[nome]"
                            autocomplete="off"
                        />
                    </div>

                    <div>
                        <label for="senha">Senha:</label>
                        <input
                            type="password"
                            id="senha"
                            name="usuario[senha]"
                            autocomplete="new-password"
                        />
                    </div>

                    <div>
                        <button type="submit">LOGIN</button>
                    </div>
                </fieldset>
            </form>
        </section>
    </body>

</html>
