@import "../variables/index";

table {
    width: 50%;
    margin: 0 auto;

    thead {
        tr {
            th {
                color: $title-color;
                background-color: #fff;
                text-align: center;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: center;
            }
        }
    }
}
