<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap"
            rel="stylesheet"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Piazzolla&display=swap"
            rel="stylesheet"
        >
        <link
            rel="stylesheet"
            href="/css/style.css"
        />
        <title>Cadastro de Evento</title>
    </head>

    <body>
        <section class="page">
            <header>
                <h1>Cadastro de Eventos</h1>
                <p>Seja bem vindo, <strong> <%= usuarioParams.nome %> </strong></p>
                <nav>
                    <a href="/logout">Sair</a>
                </nav>
            </header>

            <main>
                <h2>Cadastro de Evento</h2>
                <a
                    class="back"
                    href="/menu"
                >Voltar</a>
                <form
                    action="/novoEvento"
                    method="POST"
                    class="formulario"
                >
                    <div>
                        <label for="descricao">Descrição:</label>
                        <input
                            type="text"
                            id="descricao"
                            name="evento[descricao]"
                            autocomplete="new-password"
                        />
                    </div>
                    <div>
                        <label for="data">Data:</label>
                        <input
                            type="date"
                            id="data"
                            name="evento[data]"
                            autocomplete="new-password"
                        />
                    </div>
                    <div>
                        <label for="preco">Preço:</label>
                        <input
                            type="text"
                            id="preco"
                            name="evento[preco]"
                            autocomplete="new-password"
                        />
                    </div>

                    <div>
                        <button type="submit">INSERIR EVENTO</button>
                    </div>
                </form>
            </main>
        </section>
    </body>

</html>
