<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap"
            rel="stylesheet"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Piazzolla&display=swap"
            rel="stylesheet"
        >
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        >
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="/css/style.css"
        />
        <title>Cadastro de Usuário</title>
    </head>

    <body>
        <section class="page">
            <header>
                <a
                    class="back"
                    href="/menu"
                ><i class="fas fa-angle-left"></i> Voltar</a>
                <h1>Cadastro de Eventos</h1>
                <p>Seja bem vindo, <strong> <%= usuarioParams.nome %> </strong></p>
                <nav>
                    <a
                        class="logout"
                        href="/logout"
                    >Sair <i class="fas fa-sign-out-alt"></i></a>
                </nav>
            </header>

            <main>
                <h2 class="align-left">Cadastro de Usuário</h2>
                <form
                    action="/novoUsuario"
                    method="POST"
                    class="formulario"
                >
                    <div>
                        <label for="nome">Nome:</label>
                        <input
                            type="text"
                            id="nome"
                            name="usuario[nome]"
                            autocomplete="off"
                        />
                    </div>
                    <div>
                        <label for="senha">Senha:</label>
                        <input
                            type="password"
                            id="senha"
                            name="usuario[senha]"
                            autocomplete="new-password"
                        />
                    </div>
                    <div>
                        <label for="confirmar">Confirmar Senha:</label>
                        <input
                            type="password"
                            id="confirmar"
                            name="usuario[confirmar]"
                            autocomplete="new-password"
                        />
                    </div>

                    <div>
                        <button type="submit">INSERIR USUÁRIO</button>
                    </div>
                </form>
            </main>
        </section>
    </body>

</html>
