<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap"
            rel="stylesheet"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Piazzolla&display=swap"
            rel="stylesheet"
        >
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        >
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="/css/style.css"
        />
        <title>Lista de Eventos</title>
    </head>

    <body>
        <section class="page">
            <header>
                <a
                    class="back"
                    href="/menu"
                ><i class="fas fa-angle-left"></i> Voltar</a>
                <h1>Cadastro de Eventos</h1>
                <p>Seja bem vindo, <strong> <%= usuarioParams.nome %> </strong></p>
                <nav>
                    <a
                        class="logout"
                        href="/logout"
                    >Sair <i class="fas fa-sign-out-alt"></i></a>
                </nav>
            </header>

            <main>
                <h2 class="align-left">Lista de Eventos</h2>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Data</th>
                            <th>Preço</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Teste</td>
                            <td>xx/xx/xxxx</td>
                            <td>xx</td>
                        </tr>
                        <% eventosParams.forEach(function(evento, index){ %>
                        <tr>
                            <td>
                                <%= evento.descricao %>
                            </td>
                            <td>
                                <%= momentParams(evento.data).format("DD/MM/yyy") %>
                            </td>
                            <td>
                                <%= evento.preco %>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </main>
        </section>
    </body>

</html>
