<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap"
            rel="stylesheet"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Piazzolla&display=swap"
            rel="stylesheet"
        >
        <link
            rel="stylesheet"
            href="/css/style.css"
        />
        <title>Menu Eventos</title>
    </head>

    <body>
        <section class="page">
            <header>
                <h1>Cadastro de Eventos</h1>
                <p>Seja bem vindo, <strong> <%= usuarioParams.nome %> </strong></p>
                <nav>
                    <a href="/logout">Sair</a>
                </nav>
            </header>

            <main>
                <nav>
                    <ul>
                        <li>
                            <a href="/cadUsuario">Cadastro de Usuários</a>
                        </li>
                        <li>
                            <a href="/cadEvento">Cadastro de Eventos</a>
                        </li>
                        <li>
                            <a href="/listaEventos">Lista de Eventos</a>
                        </li>
                    </ul>
                </nav>
            </main>
        </section>
    </body>

</html>
