<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap"
            rel="stylesheet"
        >
        <link
            href="https://fonts.googleapis.com/css2?family=Piazzolla&display=swap"
            rel="stylesheet"
        >
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        >
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="/css/style.css"
        />
        <title>Menu Eventos</title>
    </head>

    <body>
        <section class="page">
            <header>
                <a
                    class="back-blanck"
                    href="#"
                >&nbsp;</a>
                <h1>Cadastro de Eventos</h1>
                <p>Seja bem vindo, <strong> <%= usuarioParams.nome %> </strong></p>
                <nav>
                    <a
                        class="logout"
                        href="/logout"
                    >Sair <i class="fas fa-sign-out-alt"></i></a>
                </nav>
            </header>

            <main>
                <nav id="menu">
                    <ul>
                        <li>
                            <a href="/cadUsuario">
                                <i class="fas fa-angle-right"></i> Cadastro de Usuários
                            </a>
                        </li>
                        <li>
                            <a href="/cadEvento">
                                <i class="fas fa-angle-right"></i> Cadastro de Eventos
                            </a>
                        </li>
                        <li>
                            <a href="/listaEventos">
                                <i class="fas fa-angle-right"></i> Lista de Eventos
                            </a>
                        </li>
                    </ul>
                </nav>
            </main>
        </section>
    </body>

</html>
